### Build ###
target/
build/
*.jar
*.war

### Application config / Secrets ###
application.properties
application.yml
*.env
.env
.env.*

### IDE ###
# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

### Logs ###
*.log
logs/

### OS ###
.DS_Store
Thumbs.db

### Maven Wrapper ###
!.mvn/wrapper/maven-wrapper.jar
